* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  background-color: #18171c;
  color: white;
  font-size: 16px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: 0;
}

.tdProfit {
  color: #12f98a;
}

.tdLoss {
  color: #f91257;
}

a {
  text-decoration: none;
  color: white;
}


